[user]
	name = Louis Cloutier
	email = louis.cloutier@shopify.com
[commit]
	gpgsign = true
[rebase]
	autosquash = true
	updateRefs = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[include]
	path = /Users/louiscloutier/.config/dev/gitconfig
[maintenance]
	repo = /Users/louiscloutier/world/git
[credential "https://github.com"]
	helper = 
	helper = !/Users/louiscloutier/.local/state/tec/profiles/base/current/global/bin/gh.unwrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/Users/louiscloutier/.local/state/tec/profiles/base/current/global/bin/gh.unwrapped auth git-credential
